body {
    background-image: url('https://cdn.dribbble.com/userupload/2905354/file/original-92212c04a044acd88c69bedc56b3dda2.png?resize=1024x768');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }