<mat-toolbar color="dark">




</mat-toolbar>


<div class="p">
  <div class="progress-bar "></div>

  <mat-expansion-panel style="
      border-style: outset;
      border-radius: 20px;
      width: 80%;
      border-color: rgb(255, 136, 0);
    ">
    <mat-expansion-panel-header>
      <p>Add Quiz</p>
    </mat-expansion-panel-header>

    <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup" label="Select Class">
          <form [formGroup]="firstFormGroup">
            <mat-form-field>
              <mat-label>Select Class</mat-label>
              <mat-select formControlName="ClassId">
                <mat-option *ngFor="let class of ClassList" [value]="class.id">{{ class.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button [disabled]="!firstFormGroup.valid" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        
        <mat-step [stepControl]="secondFormGroup" label="Name your Quiz">
            <form [formGroup]="secondFormGroup">
              <mat-form-field>
                <mat-label>Name Quiz</mat-label>
                <input matInput type="text" formControlName="Header" placeholder="Name For This Lecture" required minlength="5">
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button [disabled]="!secondFormGroup.valid" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

        <mat-step [stepControl]="quizForm" label="Quiz Type">
            <form [formGroup]="quizForm">
                <mat-form-field class="form-field">
                    <mat-label for="quizRequirement">Quiz Type:</mat-label>
                    <mat-select formControlName="quizRequirement" >
                      <mat-option [value]=0>Month</mat-option>
                      <mat-option [value]=1>Lecture</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button [disabled]="!quizForm.valid" matStepperNext>Next</button>
                  </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="secondFormGroup" label="Quiz Time" *ngIf="quizForm.value.quizRequirement==0">
            <form [formGroup]="timeForm">
                <div class="form-group">
                    <mat-label>Start Time</mat-label>
                    <input   class="form-control" type="datetime-local" formControlName="startTime"> 

                </div>
                <div class="form-group">
                    <mat-label>End Time</mat-label>
                    <input   class="form-control" type="datetime-local" formControlName="endTime"> 
              <div>
              </div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button [disabled]="!timeForm.valid" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="Duration" label="Quiz Duration">
            <form [formGroup]="Duration">
                <mat-form-field>
                  <mat-label>Duration (minutes)</mat-label>
                  <input matInput formControlName="timer" placeholder="Enter duration in minutes" required minlength="1">
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button [disabled]="!Duration.valid" matStepperNext>Next</button>
                </div>
              </form>
          </mat-step>
          
          <mat-step>
            <ng-template matStepLabel >Done</ng-template>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="print()">Add Quiz</button>
            </div>
          </mat-step>

    </mat-stepper>
  

  </mat-expansion-panel>

</div>

<app-class-corsal (Task)="onMyVariableChange($event)"></app-class-corsal>
<div class="Container-fluid" style="margin-top: 1%;">
  <mat-form-field class="example-full-width white " style="width: 100%;">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search" [(ngModel)]="searchText">
  </mat-form-field>


  <table class="table table-hover lecture-table ">
    <thead class="thead-dark">
      <tr>
        <th>Quiz ID</th>
        <th>Quiz Name</th>
        <th class="">Edit / Details</th>
        <th>Acess</th>
        <th class="">Grades</th>
        <th class="">Data Entry</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lecture of ClassLecId | search: searchText">
        <td>{{ lecture.id }}</td>
        <td>{{ lecture.name }}</td>
        <td class="btncolr">
          <!-- <a class="btn btn-outline-warning"
            (click)="EditOrDetails(lecture.lectureId , (FiristId) , lecture.header ,lecture.quizid,lecture.assighnmentid ,lecture.className )">
             Details</a> -->
              <a class="btn btn-danger" (click)="Delete(lecture.id)" >Delete</a> |
              <a   class="btn btn-success" [routerLink]="['/AdminHome/QuizDetails',lecture.id]">Details</a>

        </td>
        <td class="btncolr">
         
          <a   class="btn btn-success" [routerLink]="['/AdminHome/QuizAcess',lecture.id]">Acess</a>

    </td>
        <td class="btncolr">
         
              <a   class="btn btn-success" [routerLink]="['/AdminHome/resquiz',lecture.id]">Grades</a>

        </td>
        <td class="btncolr">
         
          <a   class="btn btn-success" [routerLink]="['/AdminHome/Quizentry',lecture.id]">DataEntry</a>

    </td>
        
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">

      <!-- BODY HERE -->
      <header class="head">You Delete Quiz !!!</header>


      <div class="ButonPop">
        <button type="submit" class="btn btn-danger ancor" (click)="Delete2()">Delete</button>
    </div>
  </div>



</ng-template>