.Containe {


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  background-color: #ddd;
  margin: 10px;
  padding: 20px;
}

.lecture-table th,
.lecture-table td {

  text-align: center;
  border-bottom: 3px solid #ddd;
}

.head {
  background-color: #eaeefe;
  /* Light gray background */
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  border-radius: 25px;

}

.posto {

  display: flex;
  justify-content: end;
  padding: 20px;
}

button {
  padding: 8px 16px;
  background-color: #ff8c00;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 10px;
  font-size: large;
}
.ancor{
  width: 250px;
  border-radius: 25px;
  margin-bottom: 10px;
  font-size: large;
}

button:hover {
  background-color: #ff6a00;

}

.ButonPop{
  display: flex;
  justify-content: center;
  align-items: center;

}
.table-responsive {
  overflow-x: auto;
}

.lecture-table {
  width: 100%; /* or use max-width for a fluid width */
}

@media (min-width: 768px) {
  /* Adjustments for medium-sized screens */
  .Containe {
    margin: 50px;
    padding: 50px;
  }

  .head {
    width: 500px;
  }

  .posto {
    padding-right: 100px;
  }

  button {
    width: 300px;
  }

  .ancor {
    width: 300px;
  }
}

@media (min-width: 992px) {
  /* Adjustments for large screens */
  .Containe {
    margin: 100px;
    padding: 100px;
  }

  .head {
    width: 600px;
  }

  .posto {
    padding-right: 150px;
  }

  button {
    width: 350px;
  }

  .ancor {
    width: 350px;
  }
}
@media (max-width: 576px) {
  /* Adjustments for small screens */
  .lecture-table th,
  .lecture-table td {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  /* Adjustments for medium-sized screens */
  .lecture-table th,
  .lecture-table td {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  /* Adjustments for large screens */
  .lecture-table th,
  .lecture-table td {
    font-size: 16px;
  }
}