<mat-toolbar color="dark">

    <div class="logo">
        <div class=" mb-5 ">
            <img src="assets/imgs/logo.png" alt="" height="50px" />
        </div>
        <div>
            <header class="head">
                <h2> Student Name :{{UserData.name}}</h2>
            </header>
        </div>
        <button class="px-4" mat-menu-item  (click)="logout()">
            <mat-icon>reply</mat-icon>sign out
          </button>

    </div>

</mat-toolbar>

<div class="body">

    <section class=" d-flex align-items-center justify-content-center flex-wrap  container-fluid"
        *ngIf="StudentHomeData.userClasses.length!=0">

        <header class="head2">
            <h2> Student Class</h2>
        </header>

        <div *ngFor="let item of StudentHomeData.userClasses" class=" Play2 m-3" matBadge="1" matBadgeSize="large">
            <div class="d-flex justify-content-center card-body">
                <div class="card " style="width: 20rem;  ">

                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <img class="card-img-top mx-auto"
                            src="https://img.freepik.com/free-vector/online-tutorials-concept_52683-37481.jpg?w=1380&t=st=1694956882~exp=1694957482~hmac=37f1cb6ca784dc86b65bb9bae6d9d24ec7f9ed470f6fe35b785b2f5b1255de02"
                            alt="Card image cap">
                        <h2 class="">{{item.name}}</h2>
                    </div>
                    <div class=" text-center">

                        <button class="buton" [routerLink]="['/Lectures',item.id]"> Start Education <i
                            class="fa-sharp fa-solid fa-right-to-bracket fa-beat-fade fa-xl"></i> </button>
                    </div>

                </div>
            </div>
        </div>


    </section>



    <section class=" d-flex align-items-center justify-content-center flex-wrap  container-fluid"
        *ngIf="StudentHomeData.classesCanEnroll.length!=0">
        <header class="head2">
            <h2> Class Can Enroll</h2>
        </header>
        <div *ngFor="let item of StudentHomeData.classesCanEnroll" class=" Play2 m-3" matBadge="1" matBadgeSize="large">
            <div class="d-flex justify-content-center card-body">
                <div class="card " style="width: 20rem;  ">

                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <img class="card-img-top mx-auto"
                            src="https://img.freepik.com/free-vector/focused-tiny-people-reading-books_74855-5836.jpg?w=1380&t=st=1694976838~exp=1694977438~hmac=28aaf0177fffa3492b7e47a7997074c5b3766ea18be096a2af8912f016e40bad"
                            alt="Card image cap">
                        <h2 class=""> {{item.name}}</h2>
                    </div>
                    <div class=" text-center">
                        <button class="buton" (click)="EnrollReq(item.id)"> Enroll <i
                                class="fa-sharp fa-solid fa-right-to-bracket fa-beat-fade fa-xl"></i> </button>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class=" d-flex align-items-center justify-content-center flex-wrap  container-fluid"
        *ngIf="StudentHomeData.userrequists.length!=0">
        <header class="head2">
            <h2> Student Request</h2>

        </header>
        <div *ngFor="let item of StudentHomeData.userrequists" class=" Play2 m-3 position-relative">

            <div class="d-flex justify-content-center card-body">
                <div class="card " style="width: 20rem;  ">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger "
                        style="color: rgb(255, 255, 255); background-color: rgb(255, 0, 51); z-index: 3;">
                        Pending Request
                    </span>
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <img class="card-img-top mx-auto"
                            src="https://img.freepik.com/free-vector/online-survey-analysis-electronic-data-collection-digital-research-tool-computerized-study-analyst-considering-feedback-results-analysing-info-vector-isolated-concept-metaphor-illustration_335657-2807.jpg?w=996&t=st=1694976735~exp=1694977335~hmac=c883dd0416146ea61736d00ce19b43560d20534179e4c95c6f8cbf40683b151f"
                            alt="Card image cap">
                        <h2 class="">{{item.name}}</h2>
                    </div>


                </div>
            </div>
        </div>
    </section>



    <section class=" d-flex align-items-center justify-content-center flex-wrap  container-fluid">
        <header class="head2">
            <h2> Student Control</h2>
        </header>


        <div class="col-md-3 headera " style="margin-top: 1%; margin-bottom: 4%;" (click)="Openpopup2()">

            <h1> Change Password</h1>
            <div class="card1 card-4">
            </div>
        </div>
        <div class="col-md-3 headera " style="margin-top: 1%; margin-bottom: 4%;">

            <h1> Your Result </h1>
            <div class="card1 card-5">
            </div>
        </div>
        <div class="col-md-3 headera " style="margin-top: 1%; margin-bottom: 4%;" [routerLink]="['/QuizsAvailable']">

            <h1> Quizs available </h1>
            <div class="card1 card-6">

            </div>
        </div>
        <div class="col-md-3 headera " style="margin-top: 1%; margin-bottom: 4%;" (click)="CodeI()">

            <h1> Lecture Code </h1>
            <div class="card1 card-7">

            </div>
        </div>
    </section>

</div>