.body {
    background-image: url(https://images.pexels.com/photos/7598387/pexels-photo-7598387.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-top: 10px;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.head {
    text-align: center;
    font-family: Arial, sans-serif;
    padding-bottom: 15px;
}
.head h2 {

    font-size: 24px;
    padding: 10px;
    color: #333;
    border-radius: 25px;

}
.container-fluid {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 2px solid #de7e00;
    position: relative;
}
.head2 {
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0PX;
    top: -30PX;
}
.head2 h2 {
    background-color: rgb(194, 34, 69);

    font-size: 24px;
    padding: 10px;
    color: #ffffff;

    /* Dark gray text color */
}


.orange {
    color: #FFA500;
    border-color: #FFA500;
    width: 80px;
}

.btn-orange {
    color: #FFA500;
    border-color: #FFA500;
}

.btn-orange:hover {
    background-color: #FFA500;
    color: #fff;
}

.orange:hover {
    background-color: #FFA500;
    color: #fff;
}

.buton {
    width: 70%;
    background-color: #de7e00;
    height: 120%;
    border: 2px solid #333;
    border-radius: 25px;
    color: #fff;
    font-size: large;
    padding: 5px;
}

.buton:hover {
    background-color: #ff8c00;

}

.Play2 {
    border-radius: 25px;
}
.headera {
    border: 3PX solid #ff8d03;
    border-radius: 25px;
    padding-top: 8px;
    cursor: pointer;
    text-align: center;
    color: #000000;
    font-size: large;
    margin: 15px;
  }
  .card-4 {
    background-image: url(https://img.freepik.com/free-vector/gdpr-concept-illustration_114360-7177.jpg?w=1380&t=st=1694691406~exp=1694692006~hmac=81f09542d6d10655290f9a03c607c552ddf7406d83dd5b4bb4c7484bf2518bdf);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
    height: 150PX
  }  
  .card-5 {
    background-image: url(https://img.freepik.com/free-vector/young-guys-with-star-award_74855-6139.jpg?w=1380&t=st=1694973395~exp=1694973995~hmac=f6956ad5248102af293d296df9821de73918cdc86dbca3923ff63e7bc0786f53);
  
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
    height: 150PX
  }  
  .card-6 {
    background-image: url(https://img.freepik.com/free-vector/quiz-show-concept-illustration_114360-9751.jpg?w=1380&t=st=1695152935~exp=1695153535~hmac=a3683f3f981e79d56e797e8dc989cdbc28f78647c2589b46a009bea8e7f695f1);
  
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
    height: 150PX
  }  
  .card-7 {
    background-image: url(https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg?w=996&t=st=1695200439~exp=1695201039~hmac=c8963c4d4c6983922b20d17232c54f1076fb795683b4f25d4df2349554fcd9d6);
  
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
    height: 150PX
  }  
  
.headera:hover {
    background: #ff8d03;
  }
  .card1 {
    background-color: #ff8d03;
  
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }