<header class="register">
    <div class="row m-0 g-0">
      <div class="col-md-6 p-0">
        <div class="video-content">
          <video id="video" loop="true"  autoplay="true" muted="true"  >
            <source src="assets/videos/pexels-mart-production-8472408 (2160p).mp4" type="video/mp4" />
          </video>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="logo mb-3">
          <img src="assets/imgs/logo.png" alt="" />
        </div>
        <div
          class="login-content d-flex align-items-center justify-content-center"
        >
          <div class="d-flex flex-column align-items-center">
            <h3 class="mb-4">Register</h3>

            <form>
              <div class="row w-75 mx-auto">
                <div class="col-md-6 mb-3">
                  <label><i class="fa-solid fa-user me-2"></i>Student Name</label>
                  <input type="text" class="form-control" placeholder="Enter your name"/>
                </div>
                <div class="col-md-6 mb-3">
                  <label
                    ><i class="fa-solid fa-user-tie me-2"></i>Parent Name</label
                  >
                  <input type="text" class="form-control" placeholder="parent name "/>
                </div>
                <div class="col-md-6 mb-2">
                  <label
                    ><i class="fa-solid fa-mobile-screen-button me-2"></i>Phone
                    Number</label
                  >
                  <input type="text" class="form-control" placeholder="Your number"/>
                </div>
                <div class="col-md-6">
                  <label
                    ><i class="fa-solid fa-mobile-screen-button me-2"></i>Parent
                    Phone Number</label
                  >
                  <input type="text" class="form-control" placeholder="Parent number"/>
                </div>
              </div>
              <div class="my-3 mb-5 w-50 mx-auto">
                <label
                  ><i class="fa-solid fa-graduation-cap me-2"></i>School
                  Year</label
                >
                <select class="form-control">
                  <option value="1">First Secondary</option>
                  <option value="2">Second Secondary </option>
                  <option value="3">Third Secondary</option>
                </select>
              </div>
              <div class="text-center w-50 mx-auto">
                <button class="btn log-btn w-100">Register</button>
                <a  routerLink="/Login"  >Already have acount ?</a>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>