/* Container Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border: 3px dotted black;
    margin: 10px;
    width: 97%;
    margin-right: 5px;
  }
  
  .container__item {
    text-align: center;
  }
  
  /* Form Styles */
  .form {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form__field {
    width: 100%;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  