

<div class="container">

  <form [formGroup]="editOrDetailsForm">
    <div>

      <h1> Class Name:<span>{{receivedObject2.ClassName}}</span> </h1>

    </div>


    <div class="">
      <div class="col-md-12">
        <div class="form-group">
          <label for="header" class="label">lecture Name:</label>
          <input type="text" id="header" formControlName="header" class="form-control" [readonly]="!editMode" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="number" class="label">lecture Number:</label>
          <input type="text" id="number" formControlName="number" class="form-control" [readonly]="!editMode" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <mat-form-field>

            <mat-label class="label">Quiz Name:</mat-label>
            <mat-select formControlName="quizId">
              <mat-option  [value]="null">No Quiz </mat-option>

              <mat-option *ngFor="let Assigh of Quizghment" [value]="Assigh.id">{{ Assigh.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <mat-form-field>

            <mat-label class="label">Assignment Name:</mat-label>
            <mat-select formControlName="assignmentId">
              <mat-option *ngFor="let Assigh of AllAssighment" [value]="Assigh.id"
                (onSelectionChange)="PassPath(Assigh.filePath)">{{ Assigh.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button (click)="showpdf()"> View Assighment</button>

        </div>

      </div>
    </div>

    <div>
      <div class="col-md-12">
        <button (click)="toggleEdit()" class=" desgin mb-3">
          {{ editMode ? 'Stop Editing' : 'Edit' }}
        </button>
      </div>
      <div class="col-md-12 ">
        <button *ngIf="editMode" (click)="updateData(editOrDetailsForm)" class="btn btn-success desgin2">Update</button>
      </div>
    </div>
  </form>
</div>


<app-choose-option [IdPram]="IdAud"> </app-choose-option>


<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ngx-extended-pdf-viewer [src]="pdfurl" [useBrowserLocale]="true" [textLayer]="true" [height]="'900px'"></ngx-extended-pdf-viewer>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="d('Cross click')">Close</button>
  </div>
</ng-template> -->