<mat-toolbar color="dark">




</mat-toolbar>

<div class="p">
  <div class="progress-bar "></div>

  <mat-expansion-panel style="
      border-style: outset;
      border-radius: 20px;
      width: 80%;
      border-color: rgb(255, 136, 0);
    ">
    <mat-expansion-panel-header>
      <p>Add Lecture</p>
    </mat-expansion-panel-header>


    
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup" label="Select Class">
        <form [formGroup]="firstFormGroup">
          <mat-form-field>
            <mat-label>Select Class</mat-label>
            <mat-select formControlName="ClassId" #c (selectionChange)="GetAssandQuiz(c.value)" >
              <mat-option *ngFor="let class of ClassList" [value]="class.id" >{{ class.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Select Assighment</mat-label>
            <mat-select formControlName="AssighmentID">
              <mat-option *ngFor="let class of AssignmentCascadeDto" [value]="class.id">{{ class.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Select Quiz</mat-label>
            <mat-select formControlName="QuizID">
              <mat-option *ngFor="let class of QuizCascadeDto" [value]="class.id">{{ class.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button [disabled]="!firstFormGroup.valid" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" label="Name your Lecture">
        <form [formGroup]="secondFormGroup">
          <mat-form-field>
            <mat-label>Name Lecture</mat-label>
            <input matInput formControlName="Header" placeholder="Name For This Lecture" required minlength="5">
          </mat-form-field>
          <mat-form-field>
            <mat-label>number</mat-label>
            <input matInput formControlName="number" type="number"  placeholder="number of lecture " >
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button [disabled]="!secondFormGroup.valid" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>


      <mat-step label="Links Video">
        <form [formGroup]="myFormGroup">

          <div formArrayName="addvideos">
            <div *ngFor="let video of addvideos.controls; let i = index">

              <div [formGroupName]="i">
                <input type="file" (change)="Uplodfile($event, i)">

                <mat-form-field>

                  <input matInput formControlName="link" placeholder="Video Link" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="partHeader" placeholder="Part Header" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="number" type="number" placeholder="Part Number" required>
                </mat-form-field>
                <button mat-icon-button (click)="removeVideo(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <button mat-button [disabled]="!myFormGroup.valid" (click)="addVideo()">Add Video</button>
        </form>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button [disabled]="  !myFormGroup.valid" mat-button
            matStepperNext>Next</button>
        </div>
      </mat-step>


      <mat-step label="Add Files">
        <form [formGroup]="myFormGroupFile">

          <div formArrayName="addvideosFile">
            <div *ngFor="let video of addvideosFile.controls; let i = index">

              <div [formGroupName]="i">
                <input type="file" (change)="Uplodfile2($event, i)">

                <mat-form-field>

                  <input matInput formControlName="path" placeholder="path Link" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="partHeader" placeholder="Part Header" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="number" type="number" placeholder="file Number" required>
                </mat-form-field>
                <button mat-icon-button (click)="removeFile(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <button mat-button (click)="addFile()">Add file</button>
        </form>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button  mat-button
            matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel (click)="print()">Done</ng-template>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button [disabled]="  !myFormGroup.valid||!firstFormGroup.valid ||!secondFormGroup.valid"  mat-button (click)="print()">Add Lecture</button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-expansion-panel>

</div>

<app-class-corsal (Task)="onMyVariableChange($event)"></app-class-corsal>
<header class="table-title" style="">
  <div class="col-md-3 " style="margin-top: 1%; margin-bottom: 1%;">
    <div class="">
      <h2>{{ClassNameHeader}}</h2>
    </div>
  </div>
</header>


<div class="Container-fluid" style="margin-top: 1%;">
  <mat-form-field class="example-full-width white " style="width: 100%;">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search" [(ngModel)]="searchText">
  </mat-form-field>


  <table class="table table-hover lecture-table ">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Lecture visibility </th>
        <th>Header</th>
        <th>Class Name</th>
        <th class="">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lecture of ClassLecId | search: searchText ; let i = index">
        <td>{{lecture.number}}</td>


        <td style="text-align: center; width: 5%;"> 

          <div class="form-check form-switch" >
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" #attend  [checked]="lecture.isActive==true" 
             (input)="Changevisibality(attend.checked , lecture.lectureId,(FiristId))" >
          </div>
         </td>




        <td style="width: 30%;">{{ lecture.header }}</td>
        <td style="width: 20%;">{{ lecture.className }}</td>
        <td  style="width: 30%;" class="btncolr">
      
              <a class="btn btn-danger"(click)="showpdf(lecture.header ,lecture.lectureId)" >Delete</a> |
              <a  (click)="EditOrDetails(lecture.lectureId , (FiristId) , lecture.header ,lecture.quizid,lecture.assighnmentid ,lecture.className  ,lecture.number )" class="btn btn-success">Details</a>|
              <a class="btn btn-primary"  [routerLink]="['lecturestudent',lecture.lectureId]"  >Watch</a> |
              <a   class="btn btn-success" [routerLink]="['/AdminHome/Lectureentry',lecture.lectureId]">Offline</a>

        </td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">

      <!-- BODY HERE -->
      <header class="head">Lecture Name: {{AssighmentNameDelete}}</header>

      <form [formGroup]="nameForm">
          <mat-form-field style="width: 100%;">
              <mat-label>Enter Lecture Name</mat-label>
              <input matInput formControlName="name">
              <mat-error *ngIf="nameForm.get('name')?.hasError('required')">Name is required</mat-error>
          </mat-form-field>
          <div class="ButonPop">
              <button type="submit" class="btn btn-danger ancor" (click)="onSubmit()">Delete</button>
          </div>
      </form>

  </div>



</ng-template>