/* .progress-bar {
    background-color: #ff8000;
    height: 4px;
    width: 78%;
    animation: grow 10s linear infinite;
    transform-origin: left;
  } */
@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

.p {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9100;
  padding: 20px;
  font-weight: 900;
  font-size: large;
  color: rgb(71, 71, 71);
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;

}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}


.lecture-table th,
.lecture-table td {

  text-align: center;
  border-bottom: 3px solid #ddd;
}
.table-title {
  display: flex ;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}




.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  padding: 10% 10% 10% 10%;
}


.card h3 {
  font-weight: 600;
}

.card img {
  position: absolute;
  top: 10%;
  right: 10%;
}


.card-3 {
  background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20%;
}