<title class="mb-3" style="margin-left: 40%; color: #000; margin-top: 50px;  font-weight:400; width: 50%;">Student Mangment </title>



<mat-expansion-panel  hideToggle="true " class="white"
style="
  border-style: outset;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  width: 60%;
  border-color:  rgb(201, 136, 17);"
>
<mat-expansion-panel-header style="width: 100%;"   >
    <div style="   margin: auto;  width: 100%; ">
  <h2  style="text-align: center; "  mat-grid-tile-header  >Add New Student </h2>
</div>
</mat-expansion-panel-header>

   

<form>
    <div class="row w-75 mx-auto">
      <div class="col-md-4   mb-3">
        <label><i class="fa-solid fa-user me-2"></i>First Name</label>
        <input type="text" class="form-control" placeholder="First Name"/>
      </div>
      <div class="col-md-4 mb-3">
        <label><i class="fa-solid fa-user me-2"></i>Second Name</label>
        <input type="text" class="form-control" placeholder="Second Name"/>
      </div>
      <div class="col-md-4 mb-3">
        <label
          ><i class="fa-solid fa-user-tie me-2"></i>Last Name</label
        >
        <input type="text" class="form-control" placeholder="Last Name "/>
      </div>
      <div class="col-md-6 mb-2">
        <label
          ><i class="fa-solid fa-mobile-screen-button me-2"></i>Phone
          Number</label
        >
        <input type=" time" class="form-control" placeholder="Your number"
        
        />
      </div>
      <div class="col-md-6">
        <label
          ><i class="fa-solid fa-mobile-screen-button me-2"></i>Parent
          Phone Number</label
        >
        <input type="text" class="form-control" placeholder="Parent number"/>
      </div>
    </div>
    <div class="my-3 mb-5 w-50 mx-auto">
      <label
        ><i class="fa-solid fa-graduation-cap me-2"></i>School
        Year</label
      >
      <select class="form-control">
        <option value="1">First Secondary</option>
        <option value="2">Second Secondary </option>
        <option value="3">Third Secondary</option>
      </select>

      <mat-checkbox >Hide required marker</mat-checkbox>

    </div>
    <div class="text-center w-50 mx-auto">
      <button class="btn log-btn w-100">Submit</button>

    </div>
  </form>

</mat-expansion-panel>


<div class="Container">
  <div class="row">
<div class="box  col-md-6" >
<h3>Active Student</h3>
<div class="row">
    <div class="col-md-4" style="margin-top: 3%; margin-bottom: 3%;">
      <div class="card card-3">
        <p>First Secondary Class</p>
      </div>
    </div>
    </div>


    
  </div>

  <div class="box  col-md-6" >
    <h3>NonActive Students </h3>
    <div class="row">
        <div class="col-md-4" style="margin-top: 3%; margin-bottom: 3%;">
          <div class="card card-3">
            <p>Student Requests </p>
          </div>
        </div>
        </div>
    
    
        
      </div>
    </div>
</div>


<div class="Container-fluid" style="margin-top: 10%;">
  <mat-form-field class="example-full-width white " style="width: 100%;">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search" [(ngModel)]="searchText">
  </mat-form-field>
  
  
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of data | search: searchText">
        <td>{{e.id}}</td>
        <td>{{e.name}}</td>
      </tr>
    </tbody>
  </table>
</div>