<header class="header">
    <nav
      class="navbar navbar-expand-lg bg-transparent position-fixed top-0 w-100  "
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/imgs/logo.png" class="logo-nav" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a routerLink="/AdminHome/Lecture"  class=" btn btn-outline-danger" href="#">Lecture</a>
            </li>
            <li class="nav-item">
              <a  class=" btn btn-outline-danger" href="#">Quizzes</a>
            </li>
            <li class="nav-item">
              <a routerLink="/LectureAssighment" class=" btn btn-outline-danger" href="#">Assignments</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="container">
      <div class="row py-5">
        <div class="col-md-6 d-flex align-items-center">
          <div class="text-content text-white" data-aos="fade-up">
            <h3>WE LIVE WITH</h3>
            <h1>Mr.Amr Nabil</h1>
            <h4>Mathematic Teacher</h4>
  
            <p>Welcome to the world of logical ideas and true imagination</p>
  
            <div class="btn-home mt-5 ">
              <button routerLink="/Login" class="btn btn-1 ">Login</button>
              <button routerLink="/Register" class="btn btn-1 btn-2 ">Register</button>
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div
            class="img-content text-center pt-3"
            data-aos="fade-left"
            data-aos-offset="200"
            data-aos-delay="500"
            data-aos-duration="1000"
          >
            <img src="assets/imgs/profile.png" class="w-75 rounded" alt="" />
          </div>
        </div>
      </div>
    </div>
  </header>
  
      <!------------- cards -------->
      <section id="services" class="services  card-section">
          <div class="container services-container">
            <div class="services-header text-center my-5">
              
             
            </div>
            <div class="container">
              <div class="row align-items-center ">
      
      
      
                <div class="item col-md-12  col-lg-4 ">
                  <div class="bg-white shadow-sm ">
                    <span class="icon">
                      <i class="fa-solid fa-arrow-up"></i>
                    </span>
                    <h1>Follow up</h1>
                    <p>Following up wiht all our students day by day.</p>
                  </div>
                </div>
                <div class="item col-md-12 col-lg-4">
                  <div class="bg-white shadow-sm">
                    <span class="icon">
                      <i class="fa-regular fa-clipboard"></i>
                    </span>
                    <h1>Everything online</h1>
                    <p>Online Quizzes, online assignment submission and high quality videos help you having an effective online system .</p>
                  </div>
                </div>
                <div class="item col-md-12 col-lg-4">
                  <div class="bg-white shadow-sm">
                    <span class="icon">
                      <i class="fa-solid fa-handshake-angle"></i>
                    </span>
                    <h1>Assistants</h1>
                    <p>Professional Assistants , live sessions, Zoom meeting , Question and answers , Whatsapp groups help you having a good quality of learning and expanding your mind.</p>
                  </div>
                </div>
                
                
                
      
      
      
              </div>
            </div>
      
      
          </div>
      
        </section>
  
    <!-- card 2 -->
  

        
           
            <section class="card-2  ">

          <div class="container-fluid">
            <div class="row" style="margin-top: -10%; margin-bottom: 5%;" >                <h2 style="text-align: center; width: 50%; margin: auto ; color: rgb(255, 255, 255); " >classes</h2>
            </div>
            <div class="row  align-items-center">
              <div class="col-md-3">
                <div class="card card-img pb-2" style="width: 18rem;">
                  <img src="assets/imgs/college entrance exam-cuate.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-text text-center">First Secondary</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-img pb-2" style="width: 18rem;">
                  <img src="assets/imgs/Learning-cuate.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-text text-center">Second Secondary</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-img pb-2" style="width: 18rem;">
                  <img src="assets/imgs/Curious-cuate.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-text text-center">Third Secondary-Mathematics</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-img pb-2" style="width: 18rem;">
                  <img src="assets/imgs/Pie chart-cuate.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-text text-center">Third Secondary-Statistics</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </section>
      
  
  
  
  
  
  
  
        <!------------- footer -------->
        <section>
            <footer > 
            
  
              <div class="wrapper">
                <div class="button">
                   <div class="icon">
                      <a target="_blank" href="https://www.facebook.com/profile.php?id=100067742259357"><i class="fab fa-facebook-f"></i></a>
                   </div>
                   <a target="_blank" href="https://www.facebook.com/profile.php?id=100067742259357"><span>Facebook</span></a>
                </div> 
  
                <div class="button">
                  <div class="icon">
                    <a href="https://www.youtube.com/channel/UCdYP4lJYXEdoSQZCITiVYpQ" target="_blank"> <i class="fab fa-youtube"></i></a>
                  </div>
                  <a href="https://www.youtube.com/channel/UCdYP4lJYXEdoSQZCITiVYpQ" target="_blank"><span>YouTube</span></a>
               </div>
  
                <div class="button">
                   <div class="icon">
                      <a target="_blank" href="https://www.facebook.com/groups/MR.AMR.Nabil/"><i class="fa-solid fa-users-rectangle"></i></a>
                   </div>
                   <a target="_blank" href="https://www.facebook.com/groups/MR.AMR.Nabil/"><span>FB Group</span></a>
                </div>
  
              
             </div>
           
          </footer>
  
        </section>
        
  