<header class="header">
    <nav
      class="navbar navbar-expand-lg  position-fixed  w-100  "  style="height:50px;"    [ngClass]="{'scrolled-navbar': isScrolled}"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets/imgs/logo.png" class="logo-nav" style="width: 10%  ; height: 100%;" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class=" btn btn-outline-danger active"routerLink="/StudentHome" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a routerLink="/AdminHome/Lecture"  class=" btn btn-outline-danger" href="#">Lecture</a>
            </li>
            <li class="nav-item">
              <a  class=" btn btn-outline-danger" href="#">Quizzes</a>
            </li>
            <li class="nav-item">
              <a routerLink="/LectureAssighment" class=" btn btn-outline-danger" href="#">Assignments</a>
            </li>
          </ul>
        </div> -->
      </div>
    </nav>
  
    <div class="container-fluid" style="padding-left: 10%; ">
      <div class="row py-5">
        <div class="col-md-6 d-flex align-items-center" >
          <div class="text-content text-center " style="font-size: xx-large; font-size: 50px;" data-aos="fade-up"  >

            <h1 style="   font-size:100px;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  font-weight: bold;"> Mr.Amr Nabil</h1>
            <h3 style=" font-size: 40px;  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   margin-top: 5%; ">Mathematics Teacher</h3>
  
            <h3 style="color:rgb(0, 0, 0);   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  font-size: 70%;" >Welcome to the World of Logical Ideas and True Imagination</h3>
  
            <div class="btn-home mt-5 " *ngIf="!Islogin">
              <button routerLink="/Login" class="btn btn-1 " style="width: 30%; height: 10%; font-size: x-large;">Login</button>
              <button routerLink="/Register" class="btn btn-1 " style=" margin-left: 2%; width: 30% ; height: 10%; font-size: x-large;">Register</button>
            </div>

            <div class="btn-home mt-5 " *ngIf="Islogin">
              <button *ngIf="role=='Student'" routerLink="/StudentHome" class="btn btn-1 ">Home</button>
              <button  *ngIf="role=='Admin'" routerLink="/AdminHome/Lecture"   class="btn btn-1 " style=" margin-left: 2%;">Home</button>
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div
            class="img-content text-center pt-3"
            data-aos="fade-left"
            data-aos-offset="500"
            data-aos-delay="500"
            data-aos-duration="1000"
          >
            <img src="assets/imgs/misterfinal.png" class="w-75 " style="border-bottom-right-radius: 15%; border-bottom-left-radius:15%;" alt="" />
          </div>
        </div>
      </div>
    </div>
  </header>
  
      <!------------- cards -------->
      <section id="services" class="services  card-section">
          <div class="container services-container">
            <div class="services-header text-center my-5">
              
             
            </div>
            <div class="container">
              <div class="row align-items-center ">
      
      
      
                <div class="item col-md-12  col-lg-4 ">
                  <div class="bg-white shadow-sm ">
                    <span class="icon">
                      <i class="fa-solid fa-arrow-up"></i>
                    </span>
                    <h1>Follow up</h1>
                    <p>Following up With all our students day by day.</p>
                  </div>
                </div>
                <div class="item col-md-12 col-lg-4">
                  <div class="bg-white shadow-sm">
                    <span class="icon">
                      <i class="fa-regular fa-clipboard"></i>
                    </span>
                    <h1>Everything online</h1>
                    <p>Online Quizes, online assignment submission and high quality videos help you having an effective online system .</p>
                  </div>
                </div>
                <div class="item col-md-12 col-lg-4">
                  <div class="bg-white shadow-sm">
                    <span class="icon">
                      <i class="fa-solid fa-handshake-angle"></i>
                    </span>
                    <h1>Assistants</h1>
                    <p>Professional Assistants , live sessions, Zoom meeting , Questions and answers , Whatsapp groups help you having a good quality of learning and expanding your mind.</p>
                  </div>
                </div>
                
                
                
      
      
      
              </div>
            </div>
      
      
          </div>
      
        </section>
  
    <!-- card 2 -->
  

        
           
            <section class="card-2  ">

          <div class="container-fluid">
            <div class="row" style="margin-top: -10%; margin-bottom: 5%;" >        
                 <h1 style="color:rgb(0, 0, 0); font-size: 60px; text-align: center; width: 50%; margin: auto ;  " >Classes</h1>
            </div>
            <div class="row  align-items-center">
              <div class="col-md-3">
                <div class="card card-img pb-2" style="width: 18rem;">
                  <img src="assets/imgs/college entrance exam-cuate.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-text text-center">First Secondary</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-img pb-2" style="width: 18rem;">
                  <img src="assets/imgs/Learning-cuate.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-text text-center">Second Secondary</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-img pb-2" style="width: 18rem;">
                  <img src="assets/imgs/Curious-cuate.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-text text-center">Third Secondary-Mathematics</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-img pb-2" style="width: 18rem;">
                  <img src="assets/imgs/Pie chart-cuate.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h4 class="card-text text-center">Third Secondary-Statistics</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </section>
      
  
  
  
  
  
  
  
        <!------------- footer -------->
        <section>
            <footer > 
            
  
              <div class="wrapper">

                <div class="button">
                   <div class="icon">
                      <a target="_blank" href="https://www.facebook.com/profile.php?id=100067742259357"><i class="fab fa-facebook-f"></i></a>
                   </div>
                   <a target="_blank" href="https://www.facebook.com/profile.php?id=100067742259357"><span>Facebook</span></a>
                </div> 
  
                <div class="button">
                  <div class="icon">
                    <a href="https://www.youtube.com/channel/UCdYP4lJYXEdoSQZCITiVYpQ" target="_blank"> <i class="fab fa-youtube"></i></a>
                  </div>
                  <a href="https://www.youtube.com/channel/UCdYP4lJYXEdoSQZCITiVYpQ" target="_blank"><span>YouTube</span></a>
               </div>
  
                <div class="button">
                   <div class="icon">
                      <a target="_blank" href="https://www.facebook.com/groups/MR.AMR.Nabil/"><i class="fab fa-facebook-f"></i></a>
                   </div>
                   <a target="_blank" href="https://www.facebook.com/groups/MR.AMR.Nabil/"><span>FB Group</span></a>
                </div>
                
                <div class="button">
                  <div class="icon">
                     <a target="_blank" href="https://instagram.com/mr_amr.nabil?igshid=OGQ5ZDc2ODk2ZA=="><i class="fab fa-instagram"></i></a>
                  </div>
                  <a target="_blank" href="https://instagram.com/mr_amr.nabil?igshid=OGQ5ZDc2ODk2ZA=="><span>Instgram</span></a>
               </div>


               <div class="button">
                <div class="icon">
                   <a target="_blank" href="https://wa.me/201060214195"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <a target="_blank" href="https://wa.me/201060214195"><span>Whatsapp</span></a>
             </div>


             </div>
           
          </footer>
  
        </section>
        
  