<mat-toolbar color="dark">

  <div class="logo" routerLink="">
      <div class=" mb-5 ">
          <img src="assets/imgs/logo.png" alt="" height="50px" />
      </div>
      <div>
          <header class="head2">
              <h2> Student Name :{{UserData.name}}</h2>
          </header>
      </div>


  </div>

</mat-toolbar>
<header class="head">
    <h2> Quiz Student Viewed</h2>

  </header>

<div class="Container-fluid" style="margin-top: 1%;">
    <mat-form-field class="example-full-width white " style="width: 100%;">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" [(ngModel)]="searchText">
    </mat-form-field>
  
  
    <table class="table table-hover lecture-table ">
      <thead class="thead-dark">
        <tr>
          <th>Student Name </th>
          <th>Quiz Name</th>
          <th>Quiz Grade</th>
          <th > Watch <i class="fa-regular fa-eye" style="color: #ffa200;"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lecture of GetUserQuizesRes | search: searchText">
          <td>{{ lecture.username }}</td>
          <td>{{ lecture.quizname }}</td>
          <td>{{ lecture.quizGrade }}</td>
          <td class="btncolr">
        
                <a   class="btn btn-success" [routerLink]="['/QuizStudent',lecture.quizId]">Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  




  <header class="head">
    <h2> Quiz Month / Lecture </h2>

  </header>

<div class="Container-fluid" style="margin-top: 1%;">
    <mat-form-field class="example-full-width white " style="width: 100%;">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" [(ngModel)]="searchText">
    </mat-form-field>
  
  
    <table class="table table-hover lecture-table ">
      <thead class="thead-dark">
        <tr>
          <th>Quiz Name</th>
          <th>Start Day</th>
          <th>End Day</th>
          <th>Quiz Type</th>
          <th > Start <i class="fa-regular fa-eye" style="color: #ffa200;"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lecture of QuizMonthInfo | search: searchText">
          <td>{{ lecture.header }}</td>
          <td>{{ lecture.start }}</td>
          <td>{{ lecture.end }}</td>
          <td>{{ lecture.Type }}</td>
          <td class="btncolr">
        
                <a   class="btn btn-success" [routerLink]="['/QuizStudent',lecture.quizid]">Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-footer></app-footer>
