.head {
    background-color: rgb(194, 34, 69);
    font-size: 24px;
    padding: 10px;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 250px;
  
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.head2 {
    text-align: center;
    font-family: Arial, sans-serif;
    padding-bottom: 15px;
}