<div class="container">
    <div class="split left">
      <div class="card text-bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">            <h1>Get Lecture Attendance</h1>
          </div>
        <div class="card-body  split">
          <a [routerLink]="['/EditOrDetailsLecture/ShowAudance', IdPram]" class="btn">Get</a>
        </div>
      </div>
    </div>
    <div class="split right">
      <div class="card text-bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">      <h1>Add Access To User</h1>
          </div>
        <div class="card-body split">
          <a routerLink="/EditOrDetailsLecture/AddUserAcces" class="btn">Add Now</a>
        </div>
      </div>
    </div>
  </div>
 
  <router-outlet></router-outlet>
  