<header class="table-title" style="font-style: oblique 40deg;">

  <div class="col-md-3 " style="margin-top: 1%; margin-bottom: 1%;"
    [routerLink]="['/AdminHome/EditOrDetailsLecture/AddUserAcces']">
    <div class="card card-3">
      <h1>Add Access To User</h1>


    </div>
  </div>

  <div class="col-md-3 " style="margin-top: 1%; margin-bottom: 1%;"
    [routerLink]="['/AdminHome/EditOrDetailsLecture/ShowAudance', IdPram]">
    <div class="card card-3">
      <div class="card-header">
        <h1>Get Lecture Attendance</h1>
      </div>



    </div>
  </div>

</header>

<router-outlet></router-outlet>