.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
    background-color: rgb(255, 255, 255);
    color: rgb(224, 127, 57);
    border-left: #d69162;
    border: solid;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

  .line{
    border: 2px solid rgb(5, 2, 2);


  }
  .col{
    color: rgb(0, 0, 0);
    font-size: xx-large;
    padding-top: 30px;
    
  }