<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    
  <mat-drawer-container class="example-container mat-typography" autosize>
    <mat-drawer #drawer mode="side" disableClose="true" opened="true" style="background-color: rgb(255, 255, 255);">
      <button mat-icon-button (click)="isExpanded = !isExpanded" class="white" style="margin: 10px;">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>
  
      <mat-nav-list>
        <mat-list-item routerLink="/AdminHome/GlobalScreen">
          <div class="list-item-content">
            <mat-icon mat-list-icon>person</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Home</h4>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/AdminHome/StudentMangment">
          <div class="list-item-content">
            <mat-icon mat-list-icon>assignment</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Student Management</h4>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/AdminHome/Lecture">
          <div class="list-item-content">
            <mat-icon mat-list-icon>domain</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Lecture Management</h4>
          </div>
        </mat-list-item>


        <mat-list-item routerLink="/AdminHome/ClassMangment">
          <div class="list-item-content">
            <mat-icon mat-list-icon>domain</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Class Management</h4>
          </div>
        </mat-list-item>

        <mat-list-item routerLink="/AdminHome/AllAssighment">
          <div class="list-item-content">
            <mat-icon mat-list-icon>folder_shared</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Assighment Management</h4>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/AdminHome/QuizHome">
          <div class="list-item-content">
            <mat-icon mat-list-icon>folder_shared</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Quiz Management</h4>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/AdminHome/CodeGen">
          <div class="list-item-content">
            <mat-icon mat-list-icon>folder_shared</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Code  Management</h4>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="/AdminHome/ParentMangment">
          <div class="list-item-content">
            <mat-icon mat-list-icon>person</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Parent Mangment</h4>
          </div>
        </mat-list-item>

      </mat-nav-list>
      

    
    </mat-drawer>
    <mat-toolbar class="white"     style="border-color:coral  ; border-bottom-style :groove ;   background-color: white;"   >
    
        <div class="logo mb-5 ">
          <img src="assets/imgs/logo.png" alt="" height="50px"/>
        </div>
                <span class="toolbar-item-spacer"></span>
    
      <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
          <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu   class="white"  #userAccountMenu [overlapTrigger]="false" yPosition="below">
        

          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()" >
              <mat-icon>exit_to_app</mat-icon>Logout
          </button>
      </mat-menu>
    </mat-toolbar>
  
    
<!-- * * * * * * * * *    Componnet  * * * * * * * * * * * * * * * * * * * * * * -->

 <!--  <app-student-profile> </app-student-profile>* -->
 <!-- <app-student-mangment > </app-student-mangment>* -->
 <router-outlet></router-outlet>
 <!-- <app-class-mangment > </app-class-mangment> -->
  </mat-drawer-container>

  

  <app-footer></app-footer>
