<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    
  <mat-drawer-container class="example-container mat-typography" autosize>
    <mat-drawer #drawer mode="side" disableClose="true" opened="true" style="background-color: rgb(255, 255, 255);">
      <button mat-icon-button (click)="isExpanded = !isExpanded" class="white" style="margin: 10px;">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>
  
      <mat-nav-list>
        <mat-list-item>
          <mat-icon mat-list-icon>person</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Management A</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Management B</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>domain</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Management C</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>folder_shared</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Management X</h4>
        </mat-list-item>

    </mat-nav-list>

        <mat-nav-list  >
            <mat-list-item  style="margin-top: 10px;">
                
                <mat-icon>dashboard</mat-icon><span *ngIf="isExpanded"> >Dashboard</span>
            </mat-list-item  >
            


      </mat-nav-list>
    </mat-drawer>
    <mat-toolbar class="white"     style="border-color:coral  ; border-bottom-style :groove ;   background-color: white;"   >
    
        <div class="logo mb-5 ">
          <img src="assets/imgs/logo.png" alt="" height="50px"/>
        </div>
                <span class="toolbar-item-spacer"></span>
    
      <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
          <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu   class="white"  #userAccountMenu [overlapTrigger]="false" yPosition="below">
          <button mat-menu-item >
              <mat-icon>person</mat-icon><span>My Account</span>
          </button>
          <button mat-menu-item >
              <mat-icon>settings</mat-icon><span>Settings</span>
          </button>
          <button mat-menu-item >
              <mat-icon>help</mat-icon><span>Help</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item >
              <mat-icon>exit_to_app</mat-icon>Logout
          </button>
      </mat-menu>
    </mat-toolbar>
  
    
<!-- * * * * * * * * *    Componnet  * * * * * * * * * * * * * * * * * * * * * * -->

    <app-student-mangment > </app-student-mangment>



  </mat-drawer-container>

  

