<header class="head">
    <h2>Admin Controls</h2>
  </header>
<section
class="p-3 d-flex align-items-center justify-content-center flex-wrap w-auto container-fluid"
>

<div class="card  xx p-3">
 

  <div class="card-body">   
    <div class="d-flex justify-content-between">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://thumbs.dreamstime.com/z/traditional-classroom-interior-12152883.jpg?w=992" alt="Card image cap">
            <div class="card-body d-flex justify-content-between  col" >
              <h1 class="card-title ">User Mangment</h1>
              <a href="#"  class="btn btn-outline-primary  ">  <mat-icon class="fs-3">arrow_right_alt</mat-icon>
              </a>
            </div>
          </div>
   
    </div>


  </div>
</div>
</section>
<hr class="line" >
<header class="head">
    <h2>Admin Personal</h2>
  </header>
  
<section
class=" d-flex align-items-center justify-content-center flex-wrap w-auto container-fluid"
>
<div class="card  m-5 ">
<div class="card text-center">
    <div class="card-header">My Info</div>
    <div class="card-body">
      <h5 class="card-title">Special Info section</h5>
      <button  (click)="Openpopup()" mat-raised-button color="primary">Show Info </button>
    </div>
  </div>


</div>


  

<div class="card  ">
<div class="card text-center">
    <div class="card-header">My Info</div>
    <div class="card-body">
      <h5 class="card-title">Special Info section</h5>
      <button  (click)="Openpopup2()" mat-raised-button color="primary">Change Password  </button>
    </div>
  </div>


</div>

</section>


