.head {
  background-color: #eaeefe;
  /* Light gray background */
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  width: 250px;
  border-radius: 25px;

}

.head h2 {
  font-size: 24px;
  margin: 0;
  color: #333;
  /* Dark gray text color */
}

.orange {
  color: #FFA500;
  border-color: #FFA500;
  width: 80px;
}

.btn-orange {
  color: #FFA500;
  border-color: #FFA500;
}

.btn-orange:hover {
  background-color: #FFA500;
  color: #fff;
}

.orange:hover {
  background-color: #FFA500;
  color: #fff;
}

.buton {
  width: 70%;
  background-color: #de7e00;
  height: 120%;
  border: 2px solid #333;
  border-radius: 25px;
  color: #fff;
  font-size: large;
  padding: 5px;
}

.buton:hover {
  background-color: #ff8c00;

}

.Play2 {
  border-radius: 25px;
}


.card1 {
  background-color: #ff8d03;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.headera {
  border: 3PX solid #ff8d03;
  border-radius: 25px;
  padding-top: 8px;
  cursor: pointer;
  text-align: center;
  color: #000000;
  font-size: large;
}

.card-3 {
  background-image: url(https://img.freepik.com/free-vector/character-illustration-people-holding-user-account-icons_53876-43022.jpg?w=996&t=st=1694693771~exp=1694694371~hmac=fef53d4a18e546bb42ca61fad46782998dff5c7fecb2c385a6b851e57ae11cf2);

  background-repeat: no-repeat;
  background-position: right;
  background-size: 95%;
  height: 150PX
  
}
.card-4 {
  background-image: url(https://img.freepik.com/free-vector/gdpr-concept-illustration_114360-7177.jpg?w=1380&t=st=1694691406~exp=1694692006~hmac=81f09542d6d10655290f9a03c607c552ddf7406d83dd5b4bb4c7484bf2518bdf);

  background-repeat: no-repeat;
  background-position: right;
  background-size: 95%;
  height: 150PX
}
/* 
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
} */

.headera:hover {
  background: #ff8d03;
}