<header class="head">
  <h2>Admin Controls</h2>
</header>
<section class=" d-flex align-items-center justify-content-around flex-wrap  container-fluid">

  <div class="card-body Play2 mt-3">
    <div class="d-flex justify-content-center">
      <div class="card  text-center" style="width: 20rem;">

        <img class="card-img-top mx-auto"
          src="https://img.freepik.com/free-vector/learning-concept-illustration_114360-6186.jpg?w=740&t=st=1694690073~exp=1694690673~hmac=326fe3049bd3407ea20dc2a8b512005f9300d85b20caf2138012366b39b7d15b"
          alt="Card image cap">

        
          <button class="buton mb-3 mx-auto"  routerLink="/AdminHome/StudentMangment"> User Management </button>

      </div>
    </div>
  </div>
  <div class="card-body Play2 mt-3">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 20rem;">

        <img class="card-img-top mx-auto"
          src="https://img.freepik.com/free-vector/teacher-with-students-concept-illustration_114360-18760.jpg?w=740&t=st=1694689992~exp=1694690592~hmac=3c6946116d54f9f8769807d195dce96bcc9356467b182820e6f687bb67316fe2"
          alt="Card image cap">

          <button class="buton mb-3 mx-auto"   routerLink="/AdminHome/ClassMangment"> Class Management </button>

      </div>
    </div>
  </div>
  <div class="card-body Play2 mt-3">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 20rem;">

        <img class="card-img-top mx-auto"
          src="https://img.freepik.com/free-vector/flat-man-checking-giant-check-list-background_23-2148091647.jpg?w=996&t=st=1694695415~exp=1694696015~hmac=e781538408b54ad6556e083857e2399951c9b28ad1c8b4d5c53f9f8aef52d7c2"
          alt="Card image cap">

          <button class="buton mb-3 mx-auto" routerLink="/AdminHome/AllAssighment"> assignment Management </button>

      </div>
    </div>
  </div>
  <div class="card-body Play2 mt-3">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 20rem;">

        <img class="card-img-top mx-auto"
          src="https://img.freepik.com/free-vector/college-entrance-exam-concept-illustration_114360-10202.jpg?w=996&t=st=1694997796~exp=1694998396~hmac=1fd06d9c002918bb632061934b9e2b01691cb7b8aa1ab51233053e1c766e976f"
          alt="Card image cap">

          <button class="buton mb-3 mx-auto" routerLink="/AdminHome/QuizHome"> Quiz Management </button>

      </div>
    </div>
  </div>
  
  <div class="card-body Play2 mt-3">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 20rem;">

        <img class="card-img-top mx-auto"
          src="https://img.freepik.com/free-vector/public-talk-concept-illustration_114360-9552.jpg?w=996&t=st=1694695295~exp=1694695895~hmac=6e97c3362cb60aa8f3606b21516232e64094b1cb62312d2cf53ca3766f7e273f">

          <button class="buton mb-3 mx-auto "routerLink="/AdminHome/Lecture">  Lecture Management </button>

      </div>
    </div>
  </div>
  <div class="card-body Play2 mt-3">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 20rem;">

        <img class="card-img-top mx-auto"
          src="https://img.freepik.com/free-vector/big-data-analytics-abstract-concept-illustration_335657-4860.jpg?w=740&t=st=1694689754~exp=1694690354~hmac=a69f2da411ff5aee4639386859fb759681ae5676d71deb33bef9ad334b8ccf25">

          <button class="buton mb-3 mx-auto " routerLink="/AdminHome/CodeGen"> Generate Lecture Code </button>

      </div>
    </div>
  </div>



</section>
<hr class="line">
<header class="head">
  <h2>Admin Personal</h2>
</header>

<section class=" d-flex  justify-content-around flex-wrap w-auto ">

  <!-- <div class="card text-bg-info m-3 " style="max-width: 18rem;">
    <div class="card-header">Show Info</div>
    <div class="card-body">
      <h5 class="card-title">Info card For Read Data Only</h5>
      <button class="btn-orange" (click)="Openpopup()" mat-raised-button color="">Change Password </button>
    </div>
  </div>

  <div class="card text-bg-secondary m-3" style="max-width: 18rem;">
    <div class="card-header">Change Password </div>
    <div class="card-body">
      <h5 class="card-title">Card For Password Changeing</h5>
      <button class="btn-orange" (click)="Openpopup2()" mat-raised-button color="">Change Password </button>
    </div>
  </div> -->


  <div class="col-md-3 headera  " style="margin-top: 1%; margin-bottom: 4%;" (click)="Openpopup()">

    <h1>Admin Profile </h1>
    <div class="card1 card-3">

    </div>
  </div>


  <div class="col-md-3 headera " style="margin-top: 1%; margin-bottom: 4%;" (click)="Openpopup2()">

    <h1>Admin Change Password</h1>
    <div class="card1 card-4">

    </div>
  </div>


</section>

<a   class="btn btn-success" [routerLink]="['/resquiz',47  ]">Details</a>
